body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
}
#StellarMail{
  animation-name: animate;
  animation-duration: 1s;
}
@keyframes animate{
  0%{
    opacity: 0;
    scale: 0;
  }
  50%{
    scale: 1.1;
  }
  100%{
    opacity: 1;
    scale: 1;
  }
}

#modal{
  animation-name: animation;
  animation-duration: 500ms;
}
@keyframes animation{
  0%{
    scale: 0.5;
  }
  50%{
    scale: 1.03;
  }
  100%{
    scale: 1;
  }
}
#pallets{
  animation-name: pallets;
  animation-duration: 1s;
}
@keyframes pallets {
  0%{
    margin-top: -150px;
  }
  100%{
    margin-top: 0px;
  }
}

.dark #mainDiv{
  background-color: #16396d;
  color: white;
}

.dark #text{
  color: white;
}

.dark #modal{
  background-color: #38598b;
  color: white;
}
.dark #inputs::placeholder{
color: white;
}
.dark #inputs{
  border-color: white;
}


.blue #mainDiv {
  background-color: #F4FFC3;
  color: #5D8736;
}

.blue #text {
  color: #5D8736;
}
.blue body{
  border-color: #5D8736;
}

.blue #modal {
  background-color: #F4FFC3;
  color: #5D8736;
}
.blue #inputs{
color: #5D8736;
}
.blue #button{
  background-color: #A9C46C;
}



.green #mainDiv {
  background-color: #faf0e4;
  color: #6b3a04;
}

.green #text {
  color: #6b3a04;
}

.green #modal {
  background-color: #F1DEC9;
  color: #6b3a04;
}
.green #inputs{
  color: #6b3a04;
}
.green #button{
  background-color: #A4907C;
}