body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
}
#StellarMail{
  animation-name: animate;
  animation-duration: 1s;
}
@keyframes animate{
  0%{
    opacity: 0;
    scale: 0;
  }
  50%{
    scale: 1.1;
  }
  100%{
    opacity: 1;
    scale: 1;
  }
}

#modal{
  animation-name: animation;
  animation-duration: 500ms;
}
@keyframes animation{
  0%{
    scale: 0.5;
  }
  50%{
    scale: 1.03;
  }
  100%{
    scale: 1;
  }
}
#pallets{
  animation-name: pallets;
  animation-duration: 1s;
}
@keyframes pallets {
  0%{
    margin-top: -150px;
  }
  100%{
    margin-top: 0px;
  }
}

.blue #mainDiv{
  color:#16396d;
}

.blue #text{
  color: #16396d;
}

.blue #modal{
  background-color: #38598b;
  color: #16396d;
}
.blue #inputs::placeholder{
color: #16396d;
}
.blue #inputs{
  border-color: white;
}
.blue #text1{
  color: #16396d;
}
.blue #text1:hover{
background-color: #38598b;
color: white;
}
.blue #button{
  background-color: #16396d;
  color: white;
}
.blue #button:hover{
  background-color: #38598b;
}


/*/////////////////////////////////////////////////////////////////////////////////////////*/

.green #mainDiv {
  color: #5D8736;
}
.green #text {
  color: #5D8736;
}
.green body{
  border-color: #5D8736;
}

.green #modal {
  background-color: #F4FFC3;
  color: #5D8736;
}
.green #inputs::placeholder{
color: #5D8736;
}
.green #button{
  background-color: #809D3C;
  color: white;
}
.green #button:hover{
  background-color: #5D8736;
}
.green #text1{
color: #5D8736;
}
.green #text1:hover{
  background-color: #5D8736;
  color: white;
}
/*/////////////////////////////////////////////////////////////////////////////////////////*/
.brown #mainDiv {
  color: #6b3a04;
}

.brown body{
  background-color: #F1DEC9;
}
.brown #text {
  color: #6b3a04;
}

.brown #modal {
  background-color: #F1DEC9;
  color: #6b3a04;
}
.brown #inputs::placeholder{
  color: #6b3a04;
}
.brown #button{
  background-color: #6b3a04;
  color: white;
}
.brown #button:hover{
  background-color: #A4907C;
  color: #6b3a04;
}
.brown #text1{
  color: #6b3a04;
  }
.brown #text1:hover{
    background-color: #A4907C;
    color: white;
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/

.black #mainDiv {
  color: #fff;
  background-color: #111;
}
.black body{
  background-color: black;
}
.black #text {
  color: #fff;
}

.black #modal {
  background-color: #111;
  color: #fff;
}
.black #inputs::placeholder{
  color: #fff;
}
.black #button{
  background-color: #111;
  color: white;
}
.black #button:hover{
  background-color: #111;
  color: #fff;
}
.black #text1{
  color: #fff;
  }
.black #text1:hover{
    background-color: #111;
    color: white;
}
